*.swp
*.lo
*.la
*.o
*.deps
*.libs
*.gz
*.zip
*.bak
*.dummy
*.log
TAGS
.DS_Store
TEST-*
build/
lib/
docs/
report/
IDE/Android/.idea/deploymentTargetDropDown.xml
IDE/Android/app/.cxx/
IDE/Android/app/src/main/cpp/wolfssl/
IDE/WIN/.vs
IDE/WIN/wolfssljni.vcxproj.user
IDE/WIN/DLL Debug
IDE/WIN/DLL Debug FIPS
IDE/WIN/DLL Release
IDE/WIN/DLL Release FIPS
examples/certs/generated

# RPM package files
rpm/spec
*.rpm

# infer RacerD
infer-out/

